In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/unique.csv',engine='python')
data.head()

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost,unit_price
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59,199
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49,149
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49,89
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49,59
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9,22

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22293 entries, 0 to 22292
Data columns (total 13 columns):
store_id        22293 non-null int64
city            22293 non-null object
channel         22293 non-null object
gender_group    22293 non-null object
age_group       22293 non-null object
wkd_ind         22293 non-null object
product         22293 non-null object
customer        22293 non-null int64
revenue         22293 non-null float64
order           22293 non-null int64
quant           22293 non-null int64
unit_cost       22293 non-null int64
unit_price      22293 non-null int64
dtypes: float64(1), int64(6), object(6)
memory usage: 2.2+ MB

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
store_id,22293.0,335.391558,230.236167,19.00,142.0,315.0,480.0,831.0
customer,22293.0,1.629480,1.785605,1.00,1.0,1.0,2.0,58.0
revenue,22293.0,159.531371,276.254066,-0.66,64.0,99.0,175.0,12538.0
order,22293.0,1.651998,1.861480,1.00,1.0,1.0,2.0,65.0
quant,22293.0,1.858072,2.347301,1.00,1.0,1.0,2.0,84.0
unit_cost,22293.0,46.124658,19.124347,9.00,49.0,49.0,49.0,99.0
unit_price,22293.0,84.279998,46.314296,0.00,56.0,79.0,99.0,299.0

In [6]:
data.select_dtypes('object').describe().T

              count unique      top   freq
city          22293     10       深圳   4364
channel       22293      2       线下  18403
gender_group  22293      3   Female  14208
age_group     22293     11    30-34   4426
wkd_ind       22293      2  Weekday  12465
product       22293      9       T恤  10610

In [8]:
data['gender_group'].value_counts()

Female    14208
Male       7967
Unkown      118
Name: gender_group, dtype: int64

In [9]:
data['age_group'].value_counts()

30-34     4426
25-29     4224
35-39     3691
20-24     3345
40-44     1955
>=60      1574
45-49     1095
50-54      672
<20        660
55-59      514
Unkown     137
Name: age_group, dtype: int64

In [10]:
data['unit_cost'].value_counts()

49    11586
59     3169
9      2053
19     1694
29     1572
69     1412
99      807
Name: unit_cost, dtype: int64

# 求解四分位数

In [18]:
data.quantile(q=0.1)

store_id      46.0
customer       1.0
revenue       39.0
order          1.0
quant          1.0
unit_cost     19.0
unit_price    35.0
Name: 0.1, dtype: float64