In [2]:
import pandas as pd

## 创建一个Series
- data 数据数组
- index 索引数组
- dtype 数据类型

In [3]:
s1 = pd.Series(data=[3,-5,7,4])
s1

0    3
1   -5
2    7
3    4
dtype: int64

In [9]:
s2 = pd.Series(data=[3,-5,7,4],index=list('abcd'),dtype='int32')
print(s2)
print(s2['b']) # -5
# 修改
s2['a']='a' # 会自动修改dtype
print(s2)

a    3
b   -5
c    7
d    4
dtype: int32
-5
a     a
b    -5
c     7
d     4
dtype: object

## 创建一个DataFrame
- data 二维数组 也可以用字典，直接省略指定列索引，键是列名，值是列表，是值
- index 行索引
- columns 列索引
- dtype 数据类型

In [14]:
date_list = pd.date_range(start='20100101',end='2010-01-06')
df = pd.DataFrame(
                    data=np.random.randn(6,4),# 6行4列的标准正态分布,
                    index = date_list,
                    columns=list('abcd'))
df

                   a         b         c         d
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960

常见属性
- columns index values dtypes size ndim shape

In [24]:
df.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.values

array([[ 0.0028748 , -1.7251327 , -0.93880423, -1.29438955],
       [ 0.81259392, -1.59620828,  1.47620139,  1.82475532],
       [ 1.09238981,  0.97486176, -1.38673772,  1.65126749],
       [-1.74658186,  0.35400246, -0.57534988, -0.90243438],
       [-0.0199205 , -0.61637701, -2.27453659,  0.9388296 ],
       [-0.07152566,  0.9838208 , -0.16047634, -1.02196019]])

In [26]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [27]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
dtype: object

In [29]:
df.shape

(6, 4)

In [15]:
df1=pd.DataFrame(data={'姓名':['lisa','john'],
                      '年龄':[20,14]})
df1

     姓名  年龄
0  lisa  20
1  john  14

In [21]:
# 去重置行索引
df1.index=['a','b']
print(df1)
df2 = df1.reset_index()
print(df2)

     姓名  年龄
a  lisa  20
b  john  14
  index    姓名  年龄
0     a  lisa  20
1     b  john  14

## DF也是可以存储读取的，csv

In [22]:
df1.to_csv('df1.csv')
data = pd.read_csv('df1.csv')
data

  Unnamed: 0    姓名  年龄
0          a  lisa  20
1          b  john  14

In [23]:
df1.to_csv('df1.csv',index=False)
data = pd.read_csv('df1.csv')
data

     姓名  年龄
0  lisa  20
1  john  14

## 操作DF数据
Numpy中DataFrame的单列数据就是一个Series

In [40]:
# 单列数据的访问
print(df.a)
print(df['a'])
# 多列数据的访问
print(df[['a','b']]) # df方括号里面再放一个列表

2010-01-01    0.002875
2010-01-02    0.812594
2010-01-03    1.092390
2010-01-04   -1.746582
2010-01-05   -0.019921
2010-01-06   -0.071526
Freq: D, Name: a, dtype: float64
2010-01-01    0.002875
2010-01-02    0.812594
2010-01-03    1.092390
2010-01-04   -1.746582
2010-01-05   -0.019921
2010-01-06   -0.071526
Freq: D, Name: a, dtype: float64
                   a         b
2010-01-01  0.002875 -1.725133
2010-01-02  0.812594 -1.596208
2010-01-03  1.092390  0.974862
2010-01-04 -1.746582  0.354002
2010-01-05 -0.019921 -0.616377
2010-01-06 -0.071526  0.983821

In [38]:
# 对于行的访问
print(df.head(3)) # 显示前3行，默认为5行
print(df.tail(4))
df[0:3] #前三行
# 如果既要行，又要列，不同于numpy的[:,0:3]这样的写法，这个是不适用的
# df我们这样做loc和iloc
print(df)

                   a         b         c         d
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267
                   a         b         c         d
2010-01-03  1.092390  0.974862 -1.386738  1.651267
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960

                   a         b         c         d
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267

## loc 和 iloc 
- loc行索引名称
- iloc列索引名称

In [41]:
df.iloc[0,1]

-1.7251327041188842

In [43]:
df.iloc[0:4,0:2]

                   a         b
2010-01-01  0.002875 -1.725133
2010-01-02  0.812594 -1.596208
2010-01-03  1.092390  0.974862
2010-01-04 -1.746582  0.354002

In [45]:
df.iloc[[0,4],[0,2]]

                   a         c
2010-01-01  0.002875 -0.938804
2010-01-05 -0.019921 -2.274537

In [46]:
df.loc['2010-01-01':'2010-01-04','a':'b'] # iloc数字切片是左闭右开的，loc切片是左闭右闭的

                   a         b
2010-01-01  0.002875 -1.725133
2010-01-02  0.812594 -1.596208
2010-01-03  1.092390  0.974862
2010-01-04 -1.746582  0.354002

In [47]:
df.loc[df.index<'2010-01-04','a':'b'] # loc还可以用条件

                   a         b
2010-01-01  0.002875 -1.725133
2010-01-02  0.812594 -1.596208
2010-01-03  1.092390  0.974862

In [51]:
df['a']['2010-01-01'] # 这样也是可以的 DataFrame不像是Numpy二维数组，是先列后行的 原理是匹配true or false

0.0028748003005536634

In [53]:
df['d'][df.index<'2010-01-04'] # 加条件也可以

2010-01-01   -1.294390
2010-01-02    1.824755
2010-01-03    1.651267
Freq: D, Name: d, dtype: float64

In [55]:
# 等同于
df3=df.loc[df.index<'2010-01-04','d'] # 用&符号接第二个条件
df3

2010-01-01   -1.294390
2010-01-02    1.824755
2010-01-03    1.651267
Freq: D, Name: d, dtype: float64

## 删除某列或某行的数据
- labels
- axis 
- levels 层次索引
- inplace 是否修改原数据

In [63]:
df4 = df.drop(labels=['a','b'],axis=1)
df4

                   c         d
2010-01-01 -0.938804 -1.294390
2010-01-02  1.476201  1.824755
2010-01-03 -1.386738  1.651267
2010-01-04 -0.575350 -0.902434
2010-01-05 -2.274537  0.938830
2010-01-06 -0.160476 -1.021960

In [62]:
df

                   a         b         c         d
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960

In [68]:
# 删除行要特殊一点
df5 = df.drop(labels=date_list[0],axis=0) # 不能直接['2020-01-01']
df5

                   a         b         c         d
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960

In [71]:
# 按照索引进行排序
df_index_sort = df.sort_index(axis=0,ascending=False) # 表示行索引
df_index_sort

                   a         b         c         d
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-03  1.092390  0.974862 -1.386738  1.651267
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390

In [72]:
# 按照数据中的某一列排序
df_values_sort = df.sort_values(by='a',ascending=True)
df_values_sort

                   a         b         c         d
2010-01-04 -1.746582  0.354002 -0.575350 -0.902434
2010-01-06 -0.071526  0.983821 -0.160476 -1.021960
2010-01-05 -0.019921 -0.616377 -2.274537  0.938830
2010-01-01  0.002875 -1.725133 -0.938804 -1.294390
2010-01-02  0.812594 -1.596208  1.476201  1.824755
2010-01-03  1.092390  0.974862 -1.386738  1.651267