In [1]:
import pandas as pd

In [2]:
hr_data=pd.read_csv('data/HR.csv',engine='python')
hr_data.head()

   员工满意度  考核评分  项目数量  每月在公司工作时间  司龄  工作事故  是否离职  五年内是否升职     部门      薪水
0   0.38  0.53     2        157   3     0     1        0  sales     low
1   0.80  0.86     5        262   6     0     1        0  sales  medium
2   0.11  0.88     7        272   4     0     1        0  sales  medium
3   0.72  0.87     5        223   5     0     1        0  sales     low
4   0.37  0.52     2        159   3     0     1        0  sales     low

# 先做描述性分析

完整性

In [5]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
员工满意度        14999 non-null float64
考核评分         14999 non-null float64
项目数量         14999 non-null int64
每月在公司工作时间    14999 non-null int64
司龄           14999 non-null int64
工作事故         14999 non-null int64
是否离职         14999 non-null int64
五年内是否升职      14999 non-null int64
部门           14999 non-null object
薪水           14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

数值型数据进行分析

In [7]:
hr_data.describe().T

,count,mean,std,min,25%,50%,75%,max
员工满意度,14999.0,0.612834,0.248631,0.09,0.44,0.64,0.82,1.0
考核评分,14999.0,0.716102,0.171169,0.36,0.56,0.72,0.87,1.0
项目数量,14999.0,3.803054,1.232592,2.00,3.00,4.00,5.00,7.0
每月在公司工作时间,14999.0,201.050337,49.943099,96.00,156.00,200.00,245.00,310.0
司龄,14999.0,3.498233,1.460136,2.00,3.00,3.00,4.00,10.0
工作事故,14999.0,0.144610,0.351719,0.00,0.00,0.00,0.00,1.0
是否离职,14999.0,0.238083,0.425924,0.00,0.00,0.00,0.00,1.0
五年内是否升职,14999.0,0.021268,0.144281,0.00,0.00,0.00,0.00,1.0

类别型数据分析

In [8]:
hr_data.select_dtypes('object').describe().T

    count unique    top  freq
部门  14999     10  sales  4140
薪水  14999      3    low  7316

In [11]:
hr_data['是否离职'].value_counts()

0    11428
1     3571
Name: 是否离职, dtype: int64

In [10]:
# 离职情况比例
hr_data['是否离职'].value_counts()/len(hr_data)

0    0.761917
1    0.238083
Name: 是否离职, dtype: float64

In [12]:
hr_data['部门'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: 部门, dtype: int64

In [14]:
hr_data['薪水'].value_counts()/len(hr_data)

low       0.487766
medium    0.429762
high      0.082472
Name: 薪水, dtype: float64

# groupby

In [15]:
hr_group=hr_data.groupby(by='是否离职').mean()
hr_group

         员工满意度      考核评分      项目数量   每月在公司工作时间        司龄      工作事故   五年内是否升职
是否离职
0     0.666810  0.715473  3.786664  199.060203  3.380032  0.175009  0.026251
1     0.440098  0.718113  3.855503  207.419210  3.876505  0.047326  0.005321

In [16]:
hr_group=hr_data.groupby(by='是否离职')['项目数量'].mean()
hr_group

是否离职
0    3.786664
1    3.855503
Name: 项目数量, dtype: float64