In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'A':[1,1,2,2],
    'B':[3,4,3,4],
    'C':np.random.randn(4) # 四个符合正态分布的
})
df

   A  B         C
0  1  3 -1.072951
1  1  4 -1.476468
2  2  3 -1.557213
3  2  4 -0.127296

In [3]:
# 按照A列分组，求剩余数据最小值
df1=df.groupby(by='A').min()
df1

   B         C
A
1  3 -1.476468
2  3 -1.557213

In [6]:
# 按照A列，B列分组，求最小值和最大值
df2=df.groupby(by=['A','B']).agg(['min','max'])
df2

            C
          min       max
A B
1 3 -1.072951 -1.072951
  4 -1.476468 -1.476468
2 3 -1.557213 -1.557213
  4 -0.127296 -0.127296

In [8]:
# 按照A列分组，对B列求最小值和最大值，对C求和
df3=df.groupby(by='A').agg({'B':['min','max'],'C':'sum'})
df3

    B             C
  min max       sum
A
1   3   4 -2.549419
2   3   4 -1.684510